#inp{
    appearance: none;
    border: none;
   outline: none;
border-radius: 5px;

-webkit-appearance: none;

}
#inp[type="checkbox"]:checked {
    background-color: #8DD3BB; /* Background color when checked */
}
#div1[type="checkbox"]:checked {
    border: 2px solid black;
    
}
#gand{
    pointer-events: none;
}