#sec3{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/asad-f3717.appspot.com/o/Rectangle%2040.png?alt=media&token=f7f2c4d4-608f-41cf-a358-3e208480d3be");
    background-repeat: no-repeat;
}
#sec4{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/asad-f3717.appspot.com/o/Rectangle%2041.png?alt=media&token=66b9a986-fad5-4a50-a398-6b185abcc223");
}