#sec-div1{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/asad-f3717.appspot.com/o/sec5.png?alt=media&token=93f551ef-ae84-42dd-84be-7bf1ec88c35e');
    background-position: center;
    background-repeat: no-repeat;
    
}
#sec-div2{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/asad-f3717.appspot.com/o/sec51.png?alt=media&token=4900246c-90ca-4a29-a631-46ee3e95fb1c');
    background-position: center;
    background-repeat: no-repeat;
}
#sec-div3{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/asad-f3717.appspot.com/o/Rectangle%205.png?alt=media&token=ec04e339-8a29-4a95-9747-d39cc31293a1');
    background-position: center;
    background-repeat: no-repeat;
}
#sec-div4{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/asad-f3717.appspot.com/o/Rectangle%206.png?alt=media&token=aaceca53-8109-4f91-9554-5e85ae00ff70');
    background-position: center;
    background-repeat: no-repeat;
}