#sec6-1{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/asad-f3717.appspot.com/o/web%2F2.png?alt=media&token=4118be76-81b7-4b2c-8b88-7867d9b1e762');
    background-position: center;
}
#sec6-2{
    background-position: center;

    background-image: url('https://firebasestorage.googleapis.com/v0/b/asad-f3717.appspot.com/o/web%2F1.png?alt=media&token=62ccb534-f75a-4f3a-bbf4-636cd4c9be5d');
}
#sec6-3{
    background-position: center;

    background-image: url('https://firebasestorage.googleapis.com/v0/b/asad-f3717.appspot.com/o/web%2F3.png?alt=media&token=05511bd2-388e-4acb-8b38-72d4d9a18f5a');
}
#sec6-4{
    background-position: center;

    background-image: url('https://firebasestorage.googleapis.com/v0/b/asad-f3717.appspot.com/o/web%2F4.png?alt=media&token=18937ab7-cafd-4c38-af59-825712c7274d');
}